@media screen and (max-width: 960px) {
	.header .inner,
	.footer .inner,
	.contents {
		margin: auto;
		width: 100%;
	}

	.header .menu li {
		padding: 0;
	}

	#feature-highlights,
	#feature-highlights > div,
	#feature-highlights > div > div {
		display: block;
	}

	#feature-highlights > div > div {
		width: auto;
		margin: 1em;
	}
}
