{% comment %}
	This Liquid script must be included at the bottom of all tutorial pages.
	It displays the correct "Next" and "Previous" links.
{% endcomment %}

<ul id="tutorial-navigation">
	{% assign previous = page.index | minus: 1 %}
	{% for canvace_page in site.pages %}
		{% if canvace_page.category == "tutorial" and canvace_page.index == previous %}
			<li id="previous-page">
				Previous: <a href="{{ canvace_page.url }}">{{ canvace_page.title }}</a>
			</li>
		{% endif %}
	{% endfor %}

	{% assign next = page.index | plus: 1 %}
	{% for canvace_page in site.pages %}
		{% if canvace_page.category == "tutorial" and canvace_page.index == next %}
			<li id="next-page">
				Next: <a href="{{ canvace_page.url }}">{{ canvace_page.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>